/* 
    Created on : 29/11/2018, 01:05:07
    Author     : Eliel
*/
body{
    background:#f3f5f9;
    padding:10%;
}
#titulo{ 
    background:#fafafa;
    border:1px solid lightgray;
    padding:0px 20px;
}


